<!-- Image and text -->
<nav class="navbar navbar-light bg-light mb-5>
    <a class="navbar-brand" href="#">
      <img src="https://seeklogo.com/images/G/google-meet-logo-3EBB5BEC63-seeklogo.com.png" width="45"class="d-inline-block align-top" alt="">
    </a>
  </nav>