<%- include('partials/header' , {roomId : ''}) %>
<body>
    <%- include('partials/navbar')%>
    <div class="container-fluid">
      <div class="content">
        <div class="row">
          <div class="col-md-12 col-lg-6">
      <div class="content">
        <h2 > Premium video meetings. Now free for everyone.</h2>
        <p class="lead my-4">We re-engineered the service we built for secure business meetings, Google Meet, to make it free and available for all.</p>
            <div>
                <div class="row">
                  <div class="col-6">
                    <a href="/meet" class="btn btn-primary" type="button"><i class="fas fa-video"> </i>  New Metting</a>
                  </div>
                </div>
                <div class="d-flex mt-20">
                  <input type="text" class="form-control mr-5"  id="roomid-input" style="width: 70%;" placeholder="Enter the meeting id to join">
                  <button class="btn btn-black disabled btn-block" style="width: 30%;" type="button" id="join-btn">Join</button>
                </div>
                    <div class="alert mt-20 font-size-12">
                      <small></small>If you type random characters it will automatically setup new metting ,  if there's not metting by that id</small>
                    </div>
              </div>
      </div>
           </div>
           <div class="col-lg-6 col-md-12 col-sm-12">
             <div class="content">
              <img width="100%" src="https://www.gstatic.com/meet/google_meet_marketing_ongoing_meeting_grid_427cbb32d746b1d0133b898b50115e96.jpg"
              alt="" 
              class="shadow rounded"
              srcset=""
              >
             </div>
           </div>
      </div>
      </div>
    </div>
<footer class="footer text-center">
  <div class="container">
      <p class="text-muted"><i class="fab fa-google"></i><span class="font-weight-bold">oogle</span> Meet By Meer Bahadin </p>
  </div>
</footer>
</body>
<script>
const idInput = document.getElementById('roomid-input');
const joinBtn = document.getElementById('join-btn');
idInput.addEventListener('keyup' , (e) => {
  joinBtn.classList.remove('disabled');
  if(e.target.value === '') {
    joinBtn.classList.add('disabled');
  }
})

joinBtn.addEventListener('click' , () => {
  window.location.href = `/${idInput.value}`;
})

</script>
</html>

<%- include('partials/footer') %>